{% extends "layout.html" %}
{%block title%}Dashboard{%endblock%}
{%block content%}
<div class="container mt-5" >
            <div class="row d-flex justify-content-evenly">
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-around"><img width="48" height="48" src="https://img.icons8.com/color/58/rupee--v1.png" alt="rupee--v1"/> <h4 class="text-center">Total Sales</h4></h5>
                            <p class="card-text text-center">₹ {{sales}}</p>      
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-around"><div><img width="48" height="48" src="https://img.icons8.com/color/48/person-male.png" alt="person-male"/></div>  <h4 class="text-center"> Customers </h4></h5>
                            <p class="card-text text-center">{{customer}}</p>       
                        </div>

                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-around"><img width="48" height="48" src="https://img.icons8.com/color-glass/48/package.png" alt="package"/><h4 class="text-center">Total Products</h4></h5>
                            <p class="card-text text-center">{{products}}</p>
                         </div>
                    </div>
                </div>

            </div>
        </div>
{%endblock%}